 * {
  box-sizing: border-box;
 }
  
  .body-content {
    background-color: white;
    padding: 0;
    text-align: center;
  }
  .navbar {
    height: 60px;
    background-color: rgb(227, 214, 190);
  }
  .nav-button span {
   display: flex;
  }
  .nav-button li {
    list-style: none;
  }
  .nav-button li a {
    text-decoration: none;
    padding-right: 10px;
    padding-left: 10px;
    color: white;
  }
  .table-button {
  text-decoration: none;
  color: black;
  }
  .footer {
    background-color:rgb(227, 214, 190);
  }