 * {
  box-sizing: border-box;
 }
  .navbar {
    position: fixed;
    height: 60px;
    background-color: rgb(227, 214, 190);
    width: 100%;
  }
  .nav-button span {
   display: flex;
  }
  .nav-button li {
    list-style: none;
  }
  .nav-button li a {
    text-decoration: none;
    padding-right: 10px;
    padding-left: 10px;
    color: white;
  }
  .table-button {
  color: black;
  text-decoration: none;
  }
  .footer {
    background-color:rgb(227, 214, 190);
    height: 100px!important;
  }

